.bar h1 {
	
	font-size:30px;
}

#socialmedia { padding-left: 200px; }


@media only screen and (max-width: 570px) {

	.bar h1 { font-size: 20px; }
	#socialmedia { padding-left: 60px; }
	
}


.bar {
	
	width: 100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

#awesome p {
	
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
}

form input[type="text"] {
	
	width: 60%;
}

@media only screen and (max-width: 400px) {

	form #validate {
		
		width: 30%;
		font-size: 17px;
		padding-top: 5px;
	}
	
	#socialmedia { margin-left: -20px; }
	
	#examples > h2 {
		font-size: 22px;
	}
	
	#examples > ul > li > h3 {
		
		font-size: 18px;
	}
}


#muhahaha {

	width: 95%;
}


#examples > ul > li > .result > ul {
	
	margin-left: -100px;
}
